<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.englanguage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".koin.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="EngLanguage"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngLanguage"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".offlinemode.FlipCardOffActivity"
            android:exported="false" />
        <activity
            android:name=".offlinemode.OneVocabularyOffActivity"
            android:exported="false" />
        <activity
            android:name=".FlipCardActivity"
            android:exported="false" />
        <activity
            android:name=".OneVocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".TextToSpeechActivity"
            android:exported="false" />
        <activity
            android:name=".VocabularyOfTopicActivity"
            android:exported="false" />
        <activity
            android:name=".VocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".TopicActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>